.header_localisation {
    background-color: var(--grey-2);
    font-size: 1rem;
    color: var(--grey-dark);
    text-align: center;
    padding: 16px 0px;
}


section {
    background-color: #f8f8f8;
    padding: 30px;
}

body,
.header_localisation {
    font-family: 'Roboto', sans-serif;
}

// booking and explore section
#homepage__booking-and-explore {
    height: 10rem;
    text-align: center;

    h2 {
        font-size: 24px;
        padding-bottom: 12px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
        padding-bottom: 48px;
        color: var(--grey-tiny);
    }

    .btn {
        font-size: 1rem;
        background-image: var(--gradient-normal);
        border: none;
        color: white;
        border-radius: 2rem;
        box-shadow: 0px 2px 10px -3px black;
        padding: 1rem 1.5rem;

        &:hover {
            transition-duration: 0.5s;
            box-shadow: 0px 2px 15px -3px black;
            background-image: var(--gradient-hover);
        }
    }
}

// Fonctioning section
#homepage__functioning-container {
    background-color: white;
    height: 20rem;


    @media (min-width: 1024px) {
        padding: 24px 125px;
        height: 9rem;
    }

    h2 {
        font-size: 1.5rem;
        padding-bottom: 25px;
        font-weight: bold;
        text-align: left;
    }

    i {
        color: var(--gradient-normal);
        padding-left: 4px;
    }

    .section-fonctionnement__etapes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    @media (min-width: 1024px) {
        .section-fonctionnement__etapes {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .fonctionnement-card {
        display: flex;
        align-items: center;
        height: 1.5em;
        background-color: #f8f8f8;
        box-shadow: 0px 1px 16px -4px var(--grey-tiny);
        position: relative;
        padding: 24px;
        border-radius: 20px;
        color: var(--gradient-normal);
        gap: 16px;

        span {
            display: grid;
            place-items: center;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            position: absolute;
            left: -11px;
            content: counter(etape);
            counter-increment: etape;
            background-color: var(--primaire-color);
            color: white;
            font-size: 16px;
        }

        i {
            color: var(--grey-tiny);
        }

        &:hover {
            background-color: #f4e9ff;
            transition-duration: 0.5s;
            box-shadow: 0px 2px 15px -3px black;

            i {
                color: var(--primaire-color);
            }
        }
    }

    p {
        color: var(--black);
    }
}


//Restaurants section
#homepage__restaurants-container {

    h2 {
        padding-bottom: 20px;
    }

    .card_contener {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    @media (min-width: 1024px) {
        padding: 24px 125px;

        .card_contener {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .restaurants-cards {
        box-shadow: 2px 1px 10px -5px black;
        border-radius: 10px;
        position: relative;

        & .new-content {
            position: absolute;
            top: 8px;
            right: 10px;
            background-color: var(--tertiaire-color);
            padding: 9px 12px;
            font-size: 16px;
            color: #078a69;
        }

        & img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }

        & .card-txt {
            background-color: white;
            color: black;
            border-radius: 0 0 10px 10px;
            padding: 16px;
        }

        .heart-icon {
            position: absolute;
            bottom: 50px;
            right: 50px;
        }
    }
}