@import "reset.scss";
@import "style.scss";

header {
    i {
        position: absolute;
        left: 32px;
        top: 25px;
        font-size: 24px;
        color: var(--black);
    }

    .header_banner {
        height: 200px;
    }

    img {
        height: 250px;
        object-fit: cover;
        width: 100%;
        position: absolute;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

.menu_contener {
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: var(--grey-bkg);
    padding: 30px 15px 5px 15px;


    @media (min-width: 1024px) {
        width: 900px;
        margin: 0 auto 0 auto;
        padding: 30px 150px 5px 150px;
    }

    .menu_title {
        display: flex;
        justify-content: space-between;

        @media (min-width: 1024px) {
            justify-content: center;

            .heart-icon {
                margin-left: 10px;
            }
        }

        h1 {
            font-size: 2rem;
            font-family: "Shrikhand", sans-serif;
            padding-bottom: 30px;
        }

        .heart-icon {
            padding: 12px 30px 0 0;
        }
    }


    .liste-plats {
        display: grid;
        grid-template-columns: 1fr;

        h2 {
            font-weight: 300;
        }

        section {
            opacity: 0;
        }

        section:nth-child(1) {
            animation: apparition 0.5s ease-in-out forwards;
        }

        section:nth-child(2) {
            animation: apparition 0.5s ease-in-out 1s forwards;
        }

        section:nth-child(3) {
            animation: apparition 0.5s ease-in-out 2s forwards;
        }

        .line {
            height: 0.25rem;
            width: 3.25rem;
            background-color: #99e2d0;
        }

        .plat {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 1px 16px -4px var(--grey-tiny);
            border-radius: 0.9rem;
            margin: 20px 0px;
            overflow: hidden;

            &:hover .plat-check {
                transform: translateX(-70px);
            }

            &:hover .plat-prix {
                padding-right: 85px;
            }

            .plat-texte {
                padding: 15px;

                h3 {
                    font-weight: 500;
                }

                p {
                    font-weight: 300;
                }
            }

            .plat-prix {
                font-weight: 500;
                display: flex;
                margin-left: auto;
                padding: 40px 15px 15px 0;
                font-size: 0.9rem;
                transition: 0.3s ease-in-out;
            }

            .plat-check {
                display: grid;
                place-items: center;
                margin-right: -70px;
                color: var(--white);
                background-color: var(--tertiaire-color);
                width: 70px;
                font-size: 1.5rem;
                transition: transform 0.3s ease-in-out;
            }
        }
    }

    .btn_commander {
        justify-content: center;
        display: flex;
        margin-bottom: 40px;
    }
}