@import "reset.scss";
@import "accueil.scss";
@import "new_animation.scss";
@import "heart_animation.scss";
@import "footer.scss";
@import "header.scss";


:root {
    --primaire-color: #9356DC;
    --secondaire-color: #FF79DA;
    --primaire-light-color: #9d6bda;
    --secondaire-light-color: #fd95e0;
    --tertiaire-color: #99E2D0;


    --grey-tiny: #7E7E7E;
    --grey-2: #EAEAEA;
    --grey-dark: #353535;
    --grey-bkg: #f6f6f6;
    --black: #000000;

    --box-shadox-card: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

    --gradient-normal: linear-gradient(var(--secondaire-color), var(--primaire-color));
    --gradient-hover: linear-gradient(var(--secondaire-light-color), var(--primaire-light-color));
}