html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]),
[hidden] {
  display: none;
}

.news-icon {
  animation: card_new_animation 3s ease 0s infinite alternate none;
}

@keyframes card_new_animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.heart-icon {
  cursor: pointer;
  font-size: 1.5rem;
}
.heart-icon .fa-regular {
  position: absolute;
  opacity: 1;
  color: var(--grey-dark);
  transition: all;
  transition: opacity 0.5s ease-in;
}
.heart-icon .fa-solid {
  position: absolute;
  opacity: 0;
  background: var(--gradient-hover);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all;
  transition: opacity 0.5s ease-in;
}
.heart-icon:hover .fa-regular {
  opacity: 0;
}
.heart-icon:hover .fa-solid {
  opacity: 1;
}

.loader-contener {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  animation: loader_transition_animation linear 3s forwards;
}
@keyframes loader_transition_animation {
  100% {
    visibility: hidden;
  }
}

.loader {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.loader:after {
  content: " ";
  display: block;
  width: 84px;
  height: 84px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--white);
  border-color: var(--primaire-color) transparent var(--secondaire-color) transparent;
  animation: loader_animation 1.2s linear infinite;
}
@keyframes loader_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --primaire-color: #9356DC;
  --secondaire-color: #FF79DA;
  --primaire-light-color: #9d6bda;
  --secondaire-light-color: #fd95e0;
  --tertiaire-color: #99E2D0;
  --grey-tiny: #7E7E7E;
  --grey-2: #EAEAEA;
  --grey-dark: #353535;
  --grey-bkg: #f6f6f6;
  --black: #000000;
  --white: #ffffff;
  --box-shadox-card: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  --gradient-normal: linear-gradient(var(--secondaire-color), var(--primaire-color));
  --gradient-hover: linear-gradient(var(--secondaire-light-color), var(--primaire-light-color));
}

header {
  display: flex;
  flex-direction: column;
}
header .header_logo {
  padding: 14px 0 13px 0;
  display: flex;
  justify-content: center;
  z-index: 3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header h1 {
  color: var(--black);
  font-size: 1.9rem;
  font-family: "Shrikhand", sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: var(--grey-dark);
}
footer h2 {
  font-size: 1.2rem;
  font-family: "Shrikhand", sans-serif;
  padding-bottom: 10px;
}
footer i {
  padding-right: 8px;
}
footer ul {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}
footer a,
footer i {
  color: white;
}
@media (min-width: 1024px) {
  footer {
    padding-top: 50px;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2.5rem;
  }
  footer h2 {
    order: 2;
    width: auto;
    padding-right: 0.4rem;
  }
  footer ul {
    flex-direction: row;
    order: 1;
    gap: 20px;
  }
}

.btn {
  font-size: 1rem;
  background-image: var(--gradient-normal);
  border: none;
  color: white;
  border-radius: 2rem;
  box-shadow: 0px 2px 10px -3px black;
  padding: 1rem 1.5rem;
}
.btn:hover {
  transition-duration: 0.5s;
  box-shadow: 0px 2px 15px -3px black;
  background-image: var(--gradient-hover);
}

header i {
  position: absolute;
  left: 32px;
  top: 25px;
  font-size: 24px;
  color: var(--black);
}
header .header_banner {
  height: 200px;
}
header img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  position: absolute;
}

.menu_contener {
  position: relative;
  border-radius: 30px 30px 0 0;
  background-color: var(--grey-bkg);
  padding: 30px 15px 5px 15px;
}
@media (min-width: 1024px) {
  .menu_contener {
    width: 900px;
    margin: 0 auto 0 auto;
  }
}
.menu_contener .menu_title {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 1024px) {
  .menu_contener .menu_title {
    justify-content: center;
  }
}
.menu_contener .menu_title h1 {
  font-size: 2rem;
  font-family: "Shrikhand", sans-serif;
  padding-bottom: 30px;
}
.menu_contener .menu_title .heart-icon {
  margin: 10px;
}
.menu_contener .liste-plats {
  display: grid;
  grid-template-columns: 1fr;
}
.menu_contener .liste-plats .line {
  height: 0.25rem;
  width: 3.25rem;
  background-color: #99e2d0;
}
.menu_contener .liste-plats .plat {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 16px -4px var(--grey-tiny);
  border-radius: 0.9rem;
  margin: 20px 0px;
  overflow: hidden;
}
.menu_contener .liste-plats .plat:hover .plat-check {
  transform: translateX(-70px);
}
.menu_contener .liste-plats .plat:hover .plat-prix {
  padding-right: 85px;
}
.menu_contener .liste-plats .plat .plat-texte {
  padding: 15px;
}
.menu_contener .liste-plats .plat .plat-prix {
  display: flex;
  margin-left: auto;
  padding: 40px 15px 15px 0;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}
.menu_contener .liste-plats .plat .plat-check {
  display: grid;
  place-items: center;
  margin-right: -70px;
  color: var(--white);
  background-color: var(--tertiaire-color);
  width: 70px;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}
.menu_contener .btn_commander {
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}

/*# sourceMappingURL=restaurants.css.map */
